.headerText{
    text-align: center;
}

.submit{
    display: block;
    margin: 20px;
    margin-left: 500px;
}

select{
    margin: 20px;
}

td{
    margin: 100px;
}

#calorie{
    display: inline;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
